/* Task title */
#task{
    color: rgb(255,255,255);
    font-size: 7.5mm;
}

/* TItle of each section */
.title{
    color: hsl(240, 100%, 50%);

}

/* Set font*/
*{
    font-family: 'Roboto', sans-serif;
}

/* Main title*/
@media screen and (min-width: 700px){
    .main-title{
        font-size: 50px;
        text-decoration:  overline black wavy;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 7px;
        border: 2px dashed green;
    }
}

/*Section nav */
.specific-sections{
    font-size: .75cm;
}

/* Default h2 values */
h2{
    font-size: 2em;
}

.date{
    font-size: 1.5rem;
    margin-left: 6px;
}

[id="form"]{
    font-size: 2.5vw;
}

.cat{
    position: static;
    height: 200px;
    width: 300px;
    padding-left: 10px;
    padding-bottom: 20px;
}

.vid{
    display: inline-block;
    position: relative;
    max-width: 800px;
    max-height: 800px;
}

.formBorder{
    border-style: solid;
    border-color: black;
    border-width: 2.5px;
    border-radius: 5px;
}

h2,h3{
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
}

li p{
    margin-right: 10px;
    padding-top: 5px;
    padding-right: 5px;
}

footer > div{
    margin: auto;
}

section + section{
    margin-top: 1px;
}

.introContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

br ~ div{
    display: grid;
    row-gap: 10px;
    grid-template-rows: [row1-start] 25px [row1-end row2-start] 25px [row2-end];
    grid-template-columns: auto 50px auto;
    column-gap: 5px;
}

section.imageSpacing{
    display: block;
    margin-top: 250px;
}

.main-title:hover{
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
}

button:active{
    color: blue;
    background-color: blue;
}

@media screen and (max-width: 700px){
    .main-title{
        font-size: 50px;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 7px;
        border: 2px dashed green;
    }
}